.product {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding: 10px;
}

.product:hover {
	background: #FFFFFF;
}

.product-description {
	flex: 1 0 auto;
	padding: 0 10px;

}

.product-description h3 {
	margin-top: 0;
}

.product-description p {
	margin-bottom: 0;
}

.product-upvotes { 
	text-align: center;
	padding: 10px;
}
	
.product-controls a {
	font-size: 20px;
	color: #CCCCCC;
}